Repository meedan/presto, changes with the owners that CODEOWNERS names for each.
All owners: @computermacgyver, @caiosba, @dmou

fail deploy pipeline if workflow dispatch status code >400
  .github/workflows/ci-deploy.yml
  .github/workflows/ci-test-branches.yml
  .github/workflows/ci-test-pr.yml
Owners: @dmou

fail deploy pipeline if workflow dispatch status code >400 (#143)
  .github/workflows/ci-deploy.yml
  .github/workflows/ci-test-branches.yml
  .github/workflows/ci-test-pr.yml
Owners: @dmou

try to fix build
  Dockerfile
  requirements.txt
Owners: @dmou, @computermacgyver, @caiosba

run tests
  .github/workflows/ci-test-pr.yml
Owners: @dmou

remove debug
  .github/workflows/ci-test-pr.yml
Owners: @dmou

CV2-6509: Fix Docker build by updating chromaprint source and fasttext dependency (#147)
  Dockerfile
  requirements.txt
Owners: @dmou, @computermacgyver, @caiosba

Invoke sysops deployment with image tag for Live updates.
  .github/workflows/ci-deploy.yml
Owners: @dmou

Invoke sysops deployment with image tag for Live updates.
  .github/workflows/ci-deploy.yml
Owners: @dmou

CV2-6699: disable honeycomb
  .env_file.example
  .env_file.test
  docker-compose.yml
  lib/cache.py
  lib/queue/worker.py
  lib/telemetry.py
  requirements.txt
  test/lib/queue/test_queue.py
  test/lib/test_telemetry.py
Owners: @computermacgyver, @caiosba, @dmou

Revert "CV2-6699: disable honeycomb"
  .env_file.example
  .env_file.test
  docker-compose.yml
  lib/cache.py
  lib/queue/worker.py
  lib/telemetry.py
  requirements.txt
  test/lib/queue/test_queue.py
  test/lib/test_telemetry.py
Owners: @computermacgyver, @caiosba, @dmou

CV2-6699: remove otel_* vars
  test/lib/test_telemetry.py
Owners: @computermacgyver, @caiosba

CV2-6699: remove otel_* vars
  .env_file.example
  .env_file.test
  docker-compose.yml
  lib/cache.py
Owners: @computermacgyver, @caiosba, @dmou

CV2-6699: remove OPEN_TELEMETRY_EXPORTER from worker.py
  lib/queue/worker.py
Owners: @computermacgyver, @caiosba

CV2-6699: remove import OpenTelemetryExporter
  lib/cache.py
  lib/queue/worker.py
Owners: @computermacgyver, @caiosba

CV2-6699: fix tests
  test/lib/queue/test_queue.py
Owners: @computermacgyver, @caiosba

CV2-6699: fix tests #2
  test/lib/queue/test_queue.py
Owners: @computermacgyver, @caiosba

CV2-6699: remove telemetry.py
  lib/telemetry.py
Owners: @computermacgyver, @caiosba

CV2-6699: remove opentelemetry
  requirements.txt
Owners: @computermacgyver, @caiosba

Updating comment
  lib/queue/worker.py
Owners: @computermacgyver, @caiosba

CV2-6699: disable honeycomb (#150)
  .env_file.example
  .env_file.test
  docker-compose.yml
  lib/cache.py
  lib/queue/worker.py
  lib/telemetry.py
  requirements.txt
  test/lib/queue/test_queue.py
  test/lib/test_telemetry.py
Owners: @computermacgyver, @caiosba, @dmou

CV2-6664: depend on master branch
  .github/workflows/ci-deploy.yml
Owners: @dmou

Invoke sysops deployment with image tag for Live updates. (#149)
  .github/workflows/ci-deploy.yml
Owners: @dmou

CODEOWNERS:

* @computermacgyver @caiosba
/.github/ @dmou
Dockerfile @dmou
docker* @dmou
